<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="cordova-plugin-splunkmint" version="0.1">
  <name>Splunkmint</name>
  <description>Splunk Mint Plugin</description>
  <license>Apache 2.0</license>
  <keywords>cordova,splunk,mint</keywords>

  <engines>
    <engine name="cordova-android" version=">=4.0.0" />
  </engines>

  <js-module src="www/splunkmint.js" name="splunkmint">
    <clobbers target="Splunkmint"/>
  </js-module>

  <preference name="MINT_APIKEY"/>

  <platform name="android">
    <framework src="src/android/splunk.gradle" custom="true" type="gradleReference" />

    <source-file src="src/android/res/values/mint.xml" target-dir="res/values" />
    <config-file target="res/values/mint.xml" parent="/*">
      <string name="mint_apikey">$MINT_APIKEY</string>
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <meta-data android:name="mint_apikey" android:value="@string/mint_apikey" />
    </config-file>

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="Splunkmint" >
        <param name="android-package" value="org.apache.cordova.splunkmint.Splunkmint"/>
        <param name="onload" value="true" />
      </feature>
    </config-file>

    <source-file src="src/android/Splunkmint.java" target-dir="src/org/apache/cordova/Splunkmint" />

  </platform>
</plugin>
