<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="com.cordova.splunkmint" version="0.1">
  <name>Mint</name>
  <description>Splunk Mint Plugin</description>
  <license>Apache 2.0</license>
  <keywords>cordova,splunk,mint</keywords>

  <engines>
    <engine name="cordova" version=">=4.0.0" />
  </engines>

  <js-module src="www/splunkmint.js" name="Splunkmint">
    <clobbers target="Splunkmint" />
  </js-module>

  <platform name="android">
    <framework src="src/android/splunk.gradle" custom="true" type="gradleReference" />

    <source-file src="src/android/Splunkmint.java" target-dir="src/com/cordova/splunkmint" />
  </platform>
</plugin>
